/* Form */

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error, textarea.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}


 .img-gallery {
    width: 200px;
    height: 200px;
    display: flex;
 }

 .img-fluid {
     object-fit: fill;
 }

/* Sidebar */
  
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: -1000px;
    width: 200px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
 

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 58px;
    left: 135px;
}
 
#sidebar-wrapper.active {
    left: -115px;
    width: 190px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
 
.toggle {
    margin: 5px 5px 0 0;
}
.square { 
  padding: 8px; display: block; 
}
